* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    
}

 /* Navigation */
nav {
    background: red;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    padding: 1em;

}

nav > div.menu > ul.login {
    display: flex;
    flex-direction: row;
}

nav > div.menu > ul > li{
    margin-left: 1rem; 
}

/* Les 3 news */
.news{
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.news > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first {
    background-color: bisque;
    border-style: solid;
    border: black;
}

.second{
    background-color: rgb(208, 255, 196);
    border-style: solid;
    border: black;
}

.third{
    background-color: rgb(255, 196, 226);
    border-style: solid;
    border: black;
}
/* Categorie et article */
.articles{
    display: flex;
    flex-direction: row;
}
.articles > .sixArticle{
    display: flex;
    flex-direction: row;
}

/* footer */
footer{
    display: flex;
    background: red;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}