.formulaire
{
    display: flex;
    background-color: rgb(226, 226, 226);
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: 20rem auto;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0/ 29%);
    border-radius: 30px;
}

.button
{
    margin: 1rem;
    padding: 1rem;
    background-color: lightcyan;
    border-radius: 1rem;

}
 a
{
    text-decoration: none;
    color: black;
   
}



th
{
    padding: 1rem;
}

td
{
    padding: 0.3rem;
}

.addCat
{
    margin: 1rem;
    padding: 1rem;
    background-color: cadetblue;
    border-radius: 1rem;
    width: 20rem;
}


.formulaireButton
{
    display: flex;
    background-color: rgb(226, 226, 226);
    width: 50%;
    justify-content: center;
    flex-flow: row wrap;
    margin: 20rem auto;
    padding: 1rem;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0/ 29%);
    border-radius: 30px;
}

.buttonTampon
{
    padding: 1rem;
    background-color: rgb(204, 204, 204);
    margin: 1rem;
    border-radius: 25px;
}